<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<body style="background-color:powderblue;">
<h1>Write your name, age, and a message!</h1>
<br>

<!-- Create your form here!
 -->



<form action="/" method="POST">
<h5>message:</h5>
<input type="text" id="message" name="message"><br>
<h5>name:</h5>
<input type="text" id="name" name="name"><br>
<h5>age:</h5>
<input type="text" id="age" name="age"><br>

    <input type="submit" value="Submit">
</form>

<script>
</script>
</body>
</html>